:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #d8aba4, #29a6b6);
    --vp-home-hero-image-background-image: linear-gradient(225deg, #eab1a5 30%, #74b0b8 70%);
    --vp-home-hero-image-filter: blur(50px);
}

@keyframes slide-up {
    from {
        transform: translateY(80px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-bottom {
    from {
        transform: translateX(-80px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
  
.VPHomeHero .main {
    animation: slide-up 0.8s ease-out forwards; /* forwards 保持最后状态 */
}
